<div class="jumbotron">
<h1>Welcome to Consumer Tracker</h1>
<p>This apps lets you keep track of your products by allowing enquiries from the field using your mobile device,
    be it via SMS or the internet</p>
    <p>
	  <%= link_to "Manage products &raquo".html_safe, products_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>
